extends layout

block content
    .container
        .row
            .col-lg-3.microphone.inactive
            .col-lg-3.spoken-text-container.invisible
                .spoken-text.triangle-border.left Anirudh is a derp
            .col-lg-6.happy-area
                button.fetchHappyMoments.btn.btn-primary.btn-large(type="button")
                    | Happy Moments
                table.table.table-hover.happyMoments.invisible
                    thead
                        tr
                            th Time
                            th What you said
                    tbody

    footer.bs-footer
        p Created by Trisha Kothari, Anirudh Todi and Seshadri Mahalingam. Distributed under an MIT Licence.&nbsp;
            a(href="https://github.com/seshness/happyminions") GitHub
        p
            a(href="http://thenounproject.com/noun/microphone/#icon-No171",target="_blank") Microphone
            |  from The Noun Project
