body {
    background: url("../img/happyminions-logo-small.png") no-repeat 95% 50px;
}

header {
    margin: 0 0 40px 30px;
}

.microphone {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: 1;
    text-align: center;
    margin: auto;
    content: url('/img/microphone.svg');
    max-width: 200px;
}

.microphone.inactive {
    content: url('/img/microphone-inactive.svg');
}

.microphone.disabled {
    content: url('/img/microphone-not-available.svg');
}

footer, .bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.happy-area {
    border-left: 1px solid rgba(86,61,124,.2);
    text-align: center;
    min-height: 283px;
}

.fetchHappyMoments {
    margin: 0 auto 30px auto;
}

.happyMoments td:first-child {
    min-width: 160px;
}

.happyMoments thead th {
    text-align: center;
}

/**
 * bubble styles modified from:
 * http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
 * MIT Licensed
 */

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid #5a8f00;
    color:#333;
    background:#fff;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
    margin-left:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 30px 15px 0;
    border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 21px 9px 0;
    border-color:transparent #fff;
}

/* ============================================================================================================================
== PINCHED SPEECH BUBBLE (more CSS3)
** ============================================================================================================================ */

.pinched {
    position:relative;
    padding:15px;
    margin:50px 0 3em;
    text-align:center;
    color:#fff;
    background:#333;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* creates a rectangle of the colour wanted for the pointy bit */
.pinched:before {
    content:"";
    position:absolute;
    top:50%;
    left:-20px;
    width:100px;
    height:20px;
    margin:0 0 0 -50px;
    background:#333;
}

/* creates a rounded rectangle to cover part of the rectangle generated above */
.pinched:after {
    content:"";
    position:absolute;
    top:50%;
    left:-20px;
    width:50%;
    height:20px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
}

/* creates the other rounded rectangle */
.pinched > :first-child:before {
    content:"";
    position:absolute;
    top:-20px;
    right:0;
    width:50%;
    height:20px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
}
